/* Instellingen om fouten te helpen vinden,
   uncomment om aan te zetten */

/* zorg dat elke box een gestippelde rand krijgt, 
   zodat je de afmeting goed kunt zien, 
   let op 1: dit kan de layout soms kan wijzigen 
   let op 2: laat 1 sterretje voor { staan als je commentaar weghaalt */
/*  * {border: 1px dotted black;}   */
  
/* zorg dat elke box een doorzichtige donkere achtergrond krijgt, 
   hoe meer boxen in elkaar hoe donkerder de achtergrondkleur 
   letop: laat 1 sterretje voor { staan als je commentaar weghaalt */
/*  * {background-color: rgba(0,0,0,5%);}  */


/************************* BASISINSTELLINGEN *************************/

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

* {                               /* geldt voor alles */
  box-sizing: border-box;   
  border-radius: 12px;      /* zorg dat border meetelt bij de width en height van boxen */
  margin: 2px;           
         /* standaard marge 0 pixels */
}

html, body {                      /* geldt voor html en body */
  background-color: #b9e3ff;    /* achtergrondkleur lichtgrijs */
  color: #303030;              /* tekstkleur donkergrijs */
  background-image: linear-gradient(to right, rgb(169, 200, 255), rgb(0, 65, 163))
}  

div {                             /* geldt voor div */
  overflow: hidden;               /* zorgt dat een <div> de hoogte krijgt van wat erin zit
                                     (anders tellen de floats erin niet mee voor de hoogte
                                     en wordt dus wel eens hoogte 0) */
}


/************************* ALLE WEBPAGINA'S *************************/

/* Indeling en opmaak voor alle pagina's */

.page {
  width: 1500px;                   /* vaste breedte van 700 pixels */
  margin: 10px auto;              /* boven en onder 10 pixels marge,
                                     links en rechts marge gelijk verdeeld (gecentreerd) */
}

header, footer {                  /* geldt voor header en footer */
  margin: 10px 0px;
  background-color: #b9e3ff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:#ffffff
}

main {                       
  text-align: justify;            /* tekst links en rechts uitvullen */
}

h1, h2, h3 {                      /* geldt voor h1 en h2 en h3 */
  margin: 10px 0px;
  text-align: center;             /* tekst centreren */
  color:#ffffff;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
} 

p {
  margin: 10px 525px;
  text-align: justify;            /* tekst links en rechts uitvullen */
  border: 10px double #ffffff
}

img {
  margin: 10px 0px;
  width:225px;
  border-style: solid;
  border-color:#b9e3ff
  
}

a {
  color: skyblue;
  text-decoration: none;;
}

a:hover {                         /* <a> als je er met de muis op staat */
  text-decoration: underline;
}

.smalltext {
  text-align: center;
  font-size: 0.7em;
}

/************************* NAVIGATIEBALK *************************/

/* navigatiebalk voor alle pagina's */

nav ul {                        /* <ul> die child is van <nav> */
  list-style-type: none;
  margin: auto;
  padding: 0;
  background-color:#ffffff;
  overflow: hidden;
}

nav ul li {                     /* <li> die child is van <ul> die op zijn beurt child is van <nav> */
  float: left; 
}

nav li a {
  display:block;
  color:#b9e3ff
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
}

nav li a:hover {
  background-color:#b9e3ff
}

nav li a.active {
  background-color:#b9e3ff
}


/************************* HOOFDPAGINA *************************/

/* Indeling en opmaak voor hoofdpagina */

/* .item {} */ /* hier doen we nog niks mee, dat mag je zelf toevoegen */

.item-plaatje {
  float: left;
  width: 250px;
  padding-right: 15px; /* zorgt dat plaatje niet tegen tekst komt */
}

.item-tekst {
  float: right;
  width: 450px;
}

.item-tekst1 {
  margin-right: 10px;
  margin-left: 50px;
  float: left;
  width: 275px;
  background-color:#ffffff;
  min-height:350px;
  border-color:#b9e3ff;
  border-radius: 90px;
  border-style:solid;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:#b9e3ff;
  font-size:xx-large;
  text-align:center;

}

.item-tekst2 {
  float: left;
  margin-left: 400px;
  margin-right: 10px;
  width: 275px;
  background-color:#ffffff;
  min-height:350px;
  border-color:#ffb9b9;
  border-radius: 90px;
  border-style:solid;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:#b9e3ff;
  font-size:xx-large;
  text-align:center;


}

.item-tekst3 {
float: right;
width: 275px; 
margin-right: 400px;
background-color:#ffffff;
min-height:350px; 
border-color:rgb(255, 149, 0);
border-radius: 90px;
border-style:solid;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:#b9e3ff;
  font-size:xx-large;
  text-align:center;

}

.item-tekst4 {
  margin-right: 50px;
  margin-left: 130px;
  float: right;
  width: 275px; 
  min-height:350px;  
  background-color:#ffffff;
  border-color: #ff89f9;
  border-radius: 90px; 
  border-style:solid;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:#b9e3ff;
  font-size:xx-large;
  text-align:center;

}

/************************* SUBPAGINA *************************/

/* Indeling en opmaak voor subpagina */

/* verzin deze zelf... */

